<div>
	<div class="container">
		<div class='panel panel-default'>
			<div class="panel-heading">Settings</div>
			<div class="panel-body">
				<ul id='folder-list' class="list-group">			
				</ul>								
						  						   						
				<div class='input-group'>
					<label>
						<input id='immediate_upload' type='checkbox'>&nbsp;Upload immediatelty
					</label>
				</div>
				
				<div class='modal-footer'>
					<button id='cancel' type='button' class='btn btn-default'>Cancel</button>
					<button id='go_setting' type='button' class='btn btn-primary'>Change</button>
				</div>
			</div>	
		</div>
	</div>
</div>