<div class='modal fade dialog-change-setting' tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden='true'>
	<div class='modal-dialog modal-lg'>
		<div class='modal-content'>
			<div class='modal-header'>
				<button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
				<h4 class='modal-title' id='myModalLabel'>Change Settings</h4>
			</div>
			<div class='modal-body'>				
				<ul class="list-group">
    				<li class="list-group-item"><input type='text' class='form-control text-bold text-folder-name' placeholder='Enter Name of Folder'></li>
    				<li class="list-group-item"><input type='text' class='form-control text-folder-path' placeholder='Enter folder path. Example: \\gemt02S\Inbox GCET\In-Box John.D'></li>
    				<li class="list-group-item">
    					<div class="btn-toolbar" role="toolbar">    						
    						<div class="btn-group">
  								<button data="small" type="button" class="btn btn-default">Small</button>  								
  								<button data="original" type="button" class="btn btn-default">Original</button>
							</div>
						</div>
					</li>
    			</ul>	  					
	   						
				<ul class="list-group">
    				<li class="list-group-item"><input type='text' class='form-control text-bold text-folder-name' placeholder='Enter Name of Folder'></li>
    				<li class="list-group-item"><input type='text' class='form-control text-folder-path' placeholder='Enter folder path. Example: \\gemt02S\Inbox GCET\In-Box John.D'></li>
    				<li class="list-group-item">
    					<div class="btn-toolbar" role="toolbar">
    						<div class="btn-group">
  								<button data="small" type="button" class="btn btn-default">Small</button>  								
  								<button data="original" type="button" class="btn btn-default">Original</button>
							</div>
						</div>
					</li>
    			</ul>
    				  					
				<ul class="list-group">
    				<li class="list-group-item"><input type='text' class='form-control text-bold text-folder-name' placeholder='Enter Name of Folder'></li>
    				<li class="list-group-item"><input type='text' class='form-control text-folder-path' placeholder='Enter folder path. Example: \\gemt02S\Inbox GCET\In-Box John.D'></li>
    				<li class="list-group-item">
    					<div class="btn-toolbar" role="toolbar">
    						<div class="btn-group">
  								<button data="small" type="button" class="btn btn-default">Small</button>  								
  								<button data="original" type="button" class="btn btn-default">Original</button>
							</div>
						</div>
					</li>
    			</ul>	  						   										
				
				<div class='input-group'>
					<label>
						<input id='immediate_upload' type='checkbox'>&nbsp;Upload immediately
					</label>									
				</div>
				<br>
				<div class="panel panel-default" id="printer_panel">
  					<div class="panel-heading">Printer Name</div>
  					<div class="panel-body" id="printer_name">    					
  					</div>
				</div>
			</div>
			<div class='modal-footer'>
				<button id='cancel' type='button' class='btn btn-default'>Cancel</button>
				<button id='go_setting' type='button' class='btn btn-primary'>Change</button>
			</div>
		</div>
	</div>
</div>